<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
      <h3>Lista de Productos</h3>
      <br>
      <button type="button" class="btn btn-primary" (click)="nuevoProducto()">Nuevo Producto</button>
      <br>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">idProducto<th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Color</th>
              <th scope="col">Talla</th>
              <th scope="col">Imagen</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos" (click)="editarProducto(producto.idProducto)">
              <th scope="row">{{producto?.idProducto}}</th>
              <td>{{producto.NombreProducto}}</td>
              <td>{{producto.idMarca}}</td>
              <td>{{producto.idModelo}}</td>
              <td>{{producto.idColor}}</td>
              <td>{{producto.idTalla}}</td>
              <td><img src="{{producto.Imagen}}"/></td>
              <td>{{producto.PrecioVenta}}</td>
            </tr>
          </tbody>
    </table>
  <br>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="exportAsXLSX()">Exportar EXCEL</button>
    </div>
    <div class="col">
      <input type="file" (change)="ReadExcel($event)">
    </div>
  </div>
  <br><br>
  </div>
  
</body>